@charset "UTF-8";
body {
	background:orange;
	color: black;

	 margin: 40px;
}
.login{
	width: 340px;
	text-align: center;
	padding:40px;
	background: silver;
	color:  black;
  box-shadow:2px 3px 15px red ;
    margin: auto;
    border-radius:10px; 

	
}
#submit{
	background: blue;
	
}
#submit:hover {
	background: silver;
}
span {
	background: silver;
	color: red;
	
	text-align: center;
	text-transform: uppercase;
	font-family: serif;
	font-style: italic;
	font-size: 20px;
    
}